h1,
h2,
h3,
h4,
p,
li {
  font-family: Futura, sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #ffff00;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  text-shadow: -1px 1px 2px rgb(254, 254, 254);
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #ff0000;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border: 0;
  border-radius: 15px;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #0e56ae;
  border-radius: 15px;
}

body {
  background-color: #00ffff;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  /* color: #ff0000; */
}

/* doesn't work like this, only if the first child actually is a paragraph element */
article p:first-child {
  color: #ff0000;
}

/* Link styling */

a:link {
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #444;
}

a:hover {
  color: rgb(0, 255, 30);
  font-weight: bold;
  text-decoration: underline wavy cornflowerblue;
}

a:active {
  background-color: darkgoldenrod;
  font-style: italic;
}
